.portfolio-page{
  background-color: #F5F6F8;
  min-height: 100vh;
}
.portfolio-top{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  .line-s{
    font-size: 1.6rem;
    font-weight: 200;
  }
  a{
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6rem;
  }
.line-s ,a{
  margin-top: 20px;
}

}
.service__content{
  padding-top: 20px;
  display: flex;
  gap: 30px;
  height: 100vh;
  
  &--left{
    display: flex;
    flex-direction: column;
    gap: 21px 0;
    padding: 10px 0;
    width: 100%;
    
  }
  &--right{
    width: 30%;
    border: 1px solid #ccc;
  }
  &--postcontent{
    padding-top: 10px;
    p{
      line-height: 1.6;
      font-size: 1.6rem;
      box-shadow: 1px 2px 10px 1px #dc3f5d55!important;
      padding: 10px 20px;
      border-radius: 10px;
      font-weight: 500;
      border-left: 4px solid #dc3f5d!important;
    }
  }
  &--outer{
    padding: 0 10px;
    overflow: hidden;
    border: 1px solid red;
    height: auto;
    transition: height 1s ease;
    .sco-header{
      height: 50px;
      display:flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2rem;
      .sco-header--title{
        @include flex(center, flex-start);
        gap: 0 10px;
        h2{
          color: #dc3f5d;
        }  
        
      }
      .icon-arr{
        transition: 0.3s linear;
      }
      &.active{
        .icon-arr{
          transition: 0.3s linear;
          transform: rotate(90deg);
        }
     
      
      }
    }
  }
}